body{
    background-image:url('images/img4.jpg');background-repeat:no-repeat;
    background-size: 1400px 700px;
  }




* {
    margin:0;
    padding:0;
}
.header
{
  display:inline-block;
  width:100%;
  padding:25px 80px;
  background-color: #ff8080;
  
  position:relative;
}
.nav{
  float-right;
}



.logo{
  float:left;
  height:55px;
  padding:3px,8px;
  border-radius:50%;
  margin-top: -20;

}

.header
{
    height:12vh;
}
.navbar-style,
{
	box-shadow: 10px 10px grey;
    text-transform:uppercase;

}
nav ul li{
  margin-top: -20;
  display:inline-block;
  padding:10px 25px;
}
nav ul li a{
  text-decoration:none;
  display:inline-block;
  color:#333;
  font-weight:600;
}


li a {
  color:#333;
  text-transform:uppercase;

}

.big-text
{
	font-size:52px;
	margin:20px 0;
	color:#ff0040;

	

}
a.btn
{
	margin:30px 10px;
	width:150px;
	padding:10px;
	border-radius:20px;
}
a.btn-first
{
	background-color:#ff4000;
	color:#fff;
}
a.btn-second
{
	background-color:transparent;
	border:2px solid #ff4000;
	color:#333;
}
a.btn:hover 
{
     background:#ff4000;
     border:none; 
     color: #fff;
     box-shadow:5px 5px 10px #999;
     transition:0.3s;
            
  }
  .banner-info,.banner-img
  {
  	margin:30px 0;
  }